/* make this pretty */
@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');

p {
	font-family: Helvetica, cursive;
	font-size: 15px;
<<<<<<< HEAD
	line-height: 150%
=======
	line-height: 150%;
>>>>>>> 388d48e561e1866e8be7311f518799b77e8d947d
	color:#777;
}

figcaption {
<<<<<<< HEAD
	font-weight: 65%
=======
	font-weight: 100;
>>>>>>> 388d48e561e1866e8be7311f518799b77e8d947d
	font-size: 65%;
	font: normal 70%/150% 'Elsie Swash Caps', cursive;
	color: #000FFF;
}

.milk-text {
	font: bold 2.6em 'Elsie Swash Caps', cursive;
	color: white;
	text-shadow: 0 2px 3px #000;
}

#logo {
	background-color: aqua;
}

#logo h1 {
	font-family: 'Elsie Swash Caps';
}

#details a:link, #details a:visited {
	color: black;
	text-decoration: none
}

#details a:hover {
	color: black;
	text-decoration: underline;
}